*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
}
.nav-bar .logo{
  font-size: 32px;
  color: black;
  text-decoration: none;
  font-weight: 700;
}
ul{
    display: flex;
    gap: 30px;
    justify-content: space-between;
}
ul li{
    list-style-type: none;
    font-size: 24px;
    font-weight: 600;
}
 ul li a{
    text-decoration: none;
    color: black;
    
}
 ul li a:hover, a.active{
    color: rgb(135, 29, 197);
 }
 .dot{
    color: rgb(135, 29, 197);
    font-size: 50px;
 }
 .image{
    padding-right: 2rem;
 }
 .home{
    position: relative;
    background-color: transparent;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 2rem;
 }
 .para1{
    font-size: 24px;
 }
 .head1{
    font-size: 4rem;

 }
 .letter{
    color:  rgb(135, 29, 197); 
 }
 .para2{
    margin-top: 2rem;
    color: #858383;
    font-size: 24px;
 }
 .buttons{
    margin-top: 20px;
    display: flex;
    gap:10px;
 }
  .button1{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid;
    background-color:rgb(135, 29, 197);
    transition: opacity 0.4s;
 }
  .button2{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid;
    transition: background-color 0.4s;
  }
   .button1:hover{
    opacity: 0.8;
   }
     .button2:hover{
        background-color: #000;
        color: white;
     }
   .profile-circle{
      height: 300px;
      width: 300px;
      border: 2px solid rgb(135, 29, 197);
      border-radius: 150px;
      overflow: hidden;
      position: absolute;
      left: 50rem;
      top:10rem;
        }
   .profile-circle img{
      width: 100%;
      height: 100%;
      object-fit: cover;
   }